-illow==7.0.0
argparse==1.4.0
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
configparser==5.0.0
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
docker-pycreds==0.4.0
entrypoints==0.3
gitdb==4.0.4
gitpython==3.1.1
gql==0.2.0
graphql-core==1.1
idna==2.9
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython-genutils==0.2.0
ipython==7.12.0
jedi==0.16.0
jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
kiwisolver==1.1.0
markupsafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.1
nvidia-ml-py3==7.352.0
olefile==0.46
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
pathtools==0.1.2
pickleshare==0.7.5
pillow==6.2.2
pip==20.0.2
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
psutil==5.7.0
pycparser==2.19
pygments==2.5.2
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==18.1.1
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
send2trash==1.5.0
sentry-sdk==0.14.3
setuptools==45.2.0.post20200210
shortuuid==1.0.1
six==1.14.0
sklearn==0.0
smmap==3.0.2
subprocess32==3.5.4
terminado==0.8.3
testpath==0.4.4
torch==1.3.1
torchvision==0.4.2
tornado==6.0.3
traitlets==4.3.3
urllib3==1.25.9
wandb==0.8.32
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
wheel==0.34.2
wincertstore==0.2
zipp==2.2.0